@import "https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css";

html {
    background-color: #fff;
    font-size: 16px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    min-width: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
}
.navbar {
background-color: #fff;

}
.navbar-item, .navbar-link {
    color: #776D76;
    display: block;
    line-height: 1.5;
    padding: .7rem .95rem;
    position: center;
    font-size: 20px;
}
.website-section-title {
color:#776D76;
text-align: center;
font-family: 'Mate SC', serif;
font-size: 75px;
margin-top: 25px;
margin-left: 25px;
display: block;
padding-right: 640px;
padding-left: 25px;
padding-top: 15px;
}
.website-section-description {
color:#776D76;
text-align: center ;
font-family: 'Mate SC', serif;
font-size: 35px;
display: block;
padding-right: 620px;
padding-left: 25px;
padding-top: 45px;
margin-top: -590px;
padding-bottom: 50px;
}
h1 {
display: block;
}
a {
color: #776D76;
}
.button.is-light {
background-color: #D7D8D8;
color: #776D76;
}
.button.is-primary {
    background-color: #776D76;
    border-color: transparent;
    color: #fff;
}
.box {
margin-top: 100px;
margin-right: 150px;
margin-left: 150px;
margin-bottom: 100px;
}
.logo{
margin-left: 550px;
margin-top: -230px;
margin-bottom: 200px;
position: relative;
padding-top: 60px;
}
.logo-index{
margin-left: 550px;
margin-top: -230px;
margin-bottom: 200px;
position: relative;
padding-top: 60px;
padding-bottom: 150px;
}
.welcome-section-description-index{
margin-bottom: 200px;
margin-top: -730px;
color:#776D76;
text-align: center ;
font-family: 'Mate SC', serif;
font-size: 35px;
display: block;
padding-right: 620px;
padding-left: 25px;
padding-top: -200px;
margin-top: -650px;
padding-bottom: 50px;
}
.button.is-primary:hover {
background-color: #D7D8D8;
color: #776D76;
}

.button.is-light:hover {
background-color: #776D76;
color: #fff;
}
.website-section-title-details {
color:#776D76;
text-align: center;
font-family: 'Mate SC', serif;
font-size: 20px;
margin-top: 25px;
margin-left: 25px;
display: block;
padding-right: 640px;
padding-left: 25px;
padding-top: 15px;
height: auto;
}

