<!DOCTYPE html>
<html xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<link type="text/css" href="style.css" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Mate+SC&display=swap" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>Husky | Date Search Success!</title>
</head>
<body>
<div class="table is-narrowed is-bordered" align="center" style="margin-top:150px;">
    <div class="table-container is-narrowed" align="center">
        <h1>Records</h1>
        <br/><br/>

        <table class="table" align="center">
            <thead>
            <tr>
                <th>Date</th>
                <th>Title</th>
            </tr>
            <tbody>
            <tr th:each="record : ${listRecords}">
                <td th:text="${record.date}">Date</td>
                <td><a th:text="${record.title}" th:href="@{/{title}/details(title=${record.title})}">Title</a></td>
            </tr>
            </tbody>
        </table>
    </div>

</body>
</html>