<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="ISO-8859-1">
    <title>Registration Success</title>
    <link type="text/css" href="style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Mate+SC&display=swap" rel="stylesheet">
</head>
<body>
<nav class="navbar is-black" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item">
            <img th:src="@{images/smallicon.png}" width="50" height="50">
        </a>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" sec:authorize="isAuthenticated()" href="http://localhost:8080/home">
                Home
            </a>
            <div sec:authorize="isAuthenticated()" class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    <b>[[${#request.userPrincipal.principal.fullName}]]</b>
                </a>

                <div sec:authorize="isAuthenticated()" class="navbar-dropdown">
                    <a class="navbar-item" href="/new">
                        Create a Report
                    </a>
                    <a sec:authorize="isAuthenticated()" class="navbar-item" href="/viewAll">
                        View All Reports
                    </a>
                    <a sec:authorize="isAuthenticated()" class="navbar-item" th:href="@{/searchByDate}">
                        View by Date
                    </a>
                    <a sec:authorize="isAuthenticated()" class="navbar-item" th:href="@{/searchByReportNum}">
                        View by Report Number
                    </a>
                    <a sec:authorize="isAuthenticated()" class="navbar-item">
                        Update a Report
                    </a>
                    <a class="navbar-item">
                        Delete a Report
                    </a>
                    <hr class="navbar-divider">
                    <a sec:authorize="isAuthenticated()" class="navbar-item">
                        Log Out
                    </a>
                </div>
            </div>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a sec:authorize="isAnonymous()" class="button is-primary" th:href="@{/register}">
                        <strong>Register</strong>
                    </a>
                    <a class="button is-light" sec:authorize="isAnonymous()" th:href="@{/login}">
                        <strong>Log in</strong>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>
<div class="container text-center">
    <h3 class="website-description-title">You have signed up successfully!</h3>
    <div class="buttons m-3">
        <a class="button is-light" th:href="@{/login}">
            <strong>Login</strong>
        </a>
    </div>
</div>

</body>
</html>