<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>Registration Success</title>
  <link type="text/css" href="style.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Mate+SC&display=swap" rel="stylesheet">
</head>
<body>
<div class="container text-center">
  <h3>You have signed up successfully!</h3>
  <div class="buttons">
    <a class="button is-light" th:href="@{/login}">
      <strong>Login</strong>
    </a>
  </div>
</div>

</body>
</html>